.mypage__left
  .mypage__left__top
    .mypage__left__list
      %ls
      =link_to "マイページ", "#", class: 'mypage-left-log' 
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "お知らせ", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "やることリスト", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "いいね！一覧", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品する", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "下書き一覧", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品した商品-出品中", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品した商品-取引中", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品した商品-売却済", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品した商品-取引中", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "出品した商品-過去の取引", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "ニュース一覧", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "評価一覧", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "ガイド", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__menu
    .mypage__left__list
      %ls
      =link_to "お問い合わせ", "#", class: 'mypage-left-log'
    .mypage__left__menu__right-log
      %i.fas.fa-chevron-right 


  .mypage__left__nav-head
    フリペイ
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "売上げ・振り込み申請", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "ポイント", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  
  .mypage__left__nav-head
    設定
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "プロフィール", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "発送元・お届け先住所変更", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "支払い方法", new_card_path, class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "メール/パスワード", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "本人情報", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "電話番号の確認", "#", class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 
  .mypage__left__pey
    .mypage__left__pey-item
      %ls
      =link_to "ログアウト", "edit_user_path", method: :delete, class: 'mypage-left-log'
    .mypage__left__pey__right-log
      %i.fas.fa-chevron-right 