* {
  box-sizing: border-box;
}

.mypage-content {
  margin: 40px 210px 0 210px;

  &__inner {
    width: 700px;
    height: 179px;
    text-align: center;
    padding: 64px;
    background-color: whitesmoke;
  
    &__content {
      width: 320px;
      height: 50px;
      background-color: #3ccace;
      margin: 0 auto;

      .mypage-content__inner__content__btn-default {
        text-decoration: none;
        line-height: 50px;
        color: white;
      }
    }
  }
}
