.create
  .create__header_blank
  .create__frame
    .create__frame__message
      登録が完了しました
    .create__frame__box
      .create__frame__box__left
        = link_to "マイページに戻る", "/users/#{current_user.id}", class: "my_page_link__btn"
        -# = link_to "マイページに戻る", "/", class: "my_page_link__btn"