.sign_up__page {
  height: 1300px;
  width: 100vw;
  background-color: #EEEEEE;
  
  &__header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    .logo {
      height: 50px;
      padding-top: 20px;
    }
  }
  &__box {
    height: 80%;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__title {
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
      height: 80px;
      font-size: 22px;
      line-height: 80px;
    }
    &__in {
      width: 50%;
      margin: 0 auto;
      font-size: 14px;
      .field {
        padding-top: 20px;
      }

      .field_set {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        .field_name {
          width: 45%;
        }

      }

     

      

      input[type="text"] {
        width: 100%;
        height: 40px;
      }
      input[type="email"] {
        width: 100%;
        height: 40px;
      }
      input[type="password"] {
        width: 100%;
        height: 40px;
      }
      input[type="submit"] {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        color: white;
        background-color: #EA352D;
        border-radius: 2px;
      }
      #domicile_prefecture_id {
        width: 100%;
        height: 40px;
      }
      span {
        background-color: #EA352D;
        color: white;
        border-radius: 2px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        vertical-align: top;

      }
    }
  }
  
}

.sign_in__page {
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  
  &__header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    .logo {
      height: 50px;
      padding-top: 20px;
  
    }
  }  
  &__box {
    height: 600px;
    width: 456px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    &__nonaccount {
      padding: 20px 0;
    }
    .go_to_sign_up {
      background-color: #0099E8;
      color: white;
      border: #0098E8 1px solid;
      text-decoration: none;
      padding: 10px 100px;
      border-radius: 4px;
      
    }
    &__in {
      width: 65%;
      margin: 0 auto;
      font-size: 14px;
      padding-top: 20px;

      .field {
        padding-top: 20px;
      }


      input[type="email"] {
        width: 100%;
        height: 40px;
      }
      input[type="password"] {
        width: 100%;
        height: 40px;
      }
      input[type="submit"] {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        color: white;
        background-color: #EA352D;
        border-radius: 4px;
      }
    }  
  }  
   
} 

.create_address_page {
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  text-align: center;
  .logo {
    height: 50px;
    padding-top: 20px;

  }
  &__message {
    margin-top:20px;
  }
  .back_to_top {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
    height: 40px;
    color: white;
    background-color: #EA352D;
    border-radius: 2px;
    text-decoration: none;
    line-height: 40px;
  }
}
