.pageheader {
  padding: 0 60px;
  .headercontents {
    padding-top: 15px;
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    .mainheader {
      display: flex;
      align-items: center;
      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        a {
          width: 140px;
          display: block;
          .top-logo {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      .search-box {
        margin-left: auto;
        width: 100%;
        &__form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          &--button {
            width: 36px;
            border: 0;
            background-color: #3CCACE;
            padding: 8px;
            cursor: pointer;
            .search-icon {
              .search-img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
    .navigator{
      margin-bottom: 10px;
      display: flex;
      font-size: 14px;
      .left-lists{
        display: flex;
        &--left {
          padding-left: 16px;
          .category-btn {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            cursor: pointer;
          }
        }
        &--right {
          padding-left: 16px;
          .btn {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            cursor: pointer;
          }
        }
      }
      .right-lists{
        display: flex;
        margin-left: auto;
        &--left {
          padding-left: 16px;
          list-style: none;
          .btn {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            cursor: pointer;
          }
        }
        &--right {
          padding-left: 16px;
          list-style: none;
          .btn {
            text-decoration: none;
            color: #333;
            line-height: 32px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.mainwrapper {
  overflow: hidden;
  background-color: white;
  .topmainvisual {
    width: 100%;
    height: 560px;
    background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .contents {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      .content__title{
        font-size: 60px;
        line-height: 1.2;
      }
      .content__text{
        font-size: 18px;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .content__btn {
        margin-top: 24px;
        display: flex;
        &--appstore {
          .appstore:hover {
          cursor: pointer;
          opacity: 0.5 ;
          }
        }
        &--googleplay {
          margin-left: 10px;
          .googleplay:hover {
          cursor: pointer;
          opacity: 0.5 ;
          }
        }
      }
    }
  }

  // 2段目フリマ選ばれる理由
  .topintroduction {
    padding: 60px 20px;
    .subtitle {
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin: 0 0 25px 0;
    padding-bottom: 15px;
    text-align: center;
    }
    .lists{
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
      .list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__photo{
          position: relative;
          margin-bottom: 20px;
          .reasonimage {
            width: 100%;
            vertical-align: bottom;
            border-radius: 4% 0 0 0;
          }
        }
        &__number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
        &__title {
          font-size: 24px;
          line-height: 50px;
          font-weight: bold;
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          margin: 16px 0 0 0;
        }
      }
      .list:last-child {
        margin: 16px 0 0 0;
      }
    }
  }

  // 3段目アプリダウンロード
  .topmiddleapp {
    height: 400px;
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    display: flex;
    align-items: center;
    .middle-container {
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .content__btn {
        margin-top: 24px;
        display: flex;
        &--appstore {
          .appstore:hover {
          cursor: pointer;
          opacity: 0.5 ;
          }
        }
        &--googleplay {
          margin-left: 10px;
          .googleplay:hover {
          cursor: pointer;
          opacity: 0.5 ;
          }
        }
      }
    }
  }

  // 4段目アプリ特徴
  .topfeature {
    padding: 60px 100px;
    .features {
      font-size: 26px;
      font-weight: bold;
      margin: 0 0 25px 0;
      padding-bottom: 15px;
      text-align: center;
    }
    .feature-lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      .feature-list {
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        &__photo {
          width: 70%;
          margin: 0 auto;
          .featureimage {
            width: 100%;
          }
        }
        &__title {
          font-size: 19px;
          font-weight: bold;
          margin: 38px 0 10px;
        }
        &__description {
          font-size: 17px;
          font-weight: 200;
          text-align: left;
          margin: 0 0 40px 0;
        }
      }
    }
  }

  // 5・６段目ピックアップ
  .pickupcontainer {
    background-color: #f8f8f8;
    height: 100%;
    padding: 80px 0 0 0;
    .pickup-title {
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      text-align: center;
    }
    .pickup-title-right{
      a {
        text-decoration: none;
        float: right;
        align-items: center;
        color: #0095ee;
        cursor: pointer;
        display: inline-flex;
        line-height: 1.4em;
        text-decoration: none;
        word-break: normal;
        font-size: 20px;
      }
      i{
        color: #0095ee;
        float: right;
        cursor: pointer;
        display: inline-flex;
        line-height: 1.4em;
        text-decoration: none;
        word-break: normal;
        font-size: 20px;
      }
    }
    .pickup-products {
      &__head{
        text-align: center;
        .pickup-link {
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          color: #3CCACE;
        }
      }
      .pickup-lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__sold{
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index:100;
          top:-320px;
          &__inner{
            transform: rotate(-45deg);
            font-size: 28px;
            margin:-35px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        .pickup-list {
          background-color: white;
          width: 220px;
          cursor: pointer;
          .productdetail-link {
            text-decoration: none;
            display: inline-block;
            .pickup-list__photo {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              .pickupproduct-image {
                width: 100%;
                height: 150px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                z-index: auto;
              }
            }
            .pickup-list__text {
              padding: 16px;
              color: black;
              .product-name {
                font-weight: bold;
                overflow: hidden;
              }
              .product-details {
                ul {
                  display: flex;
                  justify-content: space-between;
                }
                .tax {
                  font-size: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .pickupcontainer:last-child {
    padding-bottom: 80px;
  }
}

// 7段目アプリダウンロード
.bottum-app {
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .headlines {
    color: #fff;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .content__btn {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      &--appstore {
        .appstore:hover {
        cursor: pointer;
        opacity: 0.5 ;
        }
      }
      &--googleplay {
        margin-left: 10px;
        .googleplay:hover {
        cursor: pointer;
        opacity: 0.5 ;
        }
      }
    }
  }
}

// フッター
.footer {
  color: white;
  background-color: #272727;
  padding: 60px 0;
  text-align: center;
  .contents {
    display: flex;
    margin: 0 auto;
    max-width: 840px;
    .content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__top {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__lists{
        a.footer-link {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .footer-logo{
    width: 100%;
    }
  }
  &__logotext {
    font-size: 14px;
  }
}

//以下、カテゴリーscss(宮嶋)
.category__child, .category__parent, .category__grandchild{
  display: none;
}


// カテゴリーの大枠の要素の共通項
.category__list{
  position: absolute;
  height: 560px;
  background-color: white;
  border: 1px solid #3CCACE;
}

// 子要素はカテゴリー名の共通項
.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 13px;
  letter-spacing: 2px;
  text-decoration: none;
}



.categories{
 
  z-index: 1;

  .category__search {
    display: block;
    margin-top: 5px;
    text-decoration: none;
  }
  &:hover{
    .category__parent{
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        text-decoration: none;
      }
      li {
        &:hover{
          .category__child{
            width: 100%;
            display: block;
            top: -1px;
            left: 220px;
            text-decoration: none;
            li {
              &:hover{
                .category__grandchild{
                  width: 300px;
                  display: block;
                  top: -1px;
                  left: 219px;
                }
              }
            }
          }
        }
      }
    }
  }
}



.exhibitionBtn-link {
  .exhibitionBtn {
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
}
