.exhibition__page {
  height: 1700px;
  width: 100vw;
  background-color: #EEEEEE;
  &__header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    .logo {
      height: 50px;
      padding-top: 20px;
    }
  }
  &__box {
    height: 80%;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__in {
      width: 80%;
      margin: 0 auto;
      font-size: 14px;
      padding: 20px 0;
      p {
        color: red;
        font-weight: bold;
      }
      h1 {
        margin-top: 20px;
      }
      h2 {
        margin-top: 20px;
        color: gray;
      }
      input[type="text"] {
        width: 100%;
        height: 40px;
        margin-top: 10px;
      }
      input[type="submit"] {
        margin-top: 30px;
        width: 100%;
        height: 40px;
        color: white;
        background-color: #EA352D;
        border-radius: 10px;
      }
      #product_description {
        resize: vertical;
        width: 100%;
        height: 120px;
        margin-top: 10px;
      }
      span {
        background-color: #EA352D;
        color: white;
        border-radius: 2px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        vertical-align: top;
      }
      .exhibition_icon {
        margin-top: 20px;
        display: block;
        background-color: #EEEEEE;
        font-size: large;
        padding: 20px 200px;
        align-items: center;
        border: 1px dashed black;
        .js-file {
          display: none;
        }
      }  

      .category__select, #product_condition_id, #product_postage_id, #product_prefecture_id, #product_preparation_day_id{
        width: 100%;
        height: 40px;
        margin-top: 10px;
      }
      #product_pricing {
        width: 50%;
      }

    }
  }
  .newFooter {
    height: 220px;
    padding: 40px 0px 41px;
    margin-top: auto;
    text-align: center;
    .footercontents {
      .footerlists {
        display: inline-block;
        margin: -16px 0px 40px -16px;
        list-style-type: none;
        &__list{
          display: inline-block;
          font-size: 12px;
          margin: 16px 0px 0px 16px;
          .footer-link {
            text-decoration: none;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    .footerLogo {
      a {
        width: 160px;
        display: inline-block;
        .footer-logo {
          width: 100%;
          margin-bottom: 8px;
          filter: drop-shadow(5px 5px 2px gray);
        }
      }
    }
    .footerLogo-text{
      font-size: 12px;
    }
  }
}