// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height: 150vh;
  width: 100vw;
  box-sizing: inherit;
  background-color: #EEEEEE;
  .header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    .logo {
      height: 50px;
      padding-top: 20px;
    }
  }
  &__box {
    height: 900px;
    width: 85%;
    margin: 0 auto;
    background-color: white;
    &__title {
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
      height: 80px;
      font-size: 22px;
      line-height: 80px;
    }
    section.Product-information{
      border-top: 1px solid rgb(245, 245, 245);
      width: 70%;
      margin: 0 auto;
      padding: 32px 16px;
      .Product-information-box{
        display: flex;
        justify-content: space-around;
        .image{
          width: 80px;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          img{
            max-width: 100%;
            max-height: 100%;
          }
        }
        .comment {
          margin-left: 8px;
          p.com {
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 8px;
          }
          p.com2{
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
    section.payment{
      border-top: 1px solid rgb(245, 245, 245);
      width: 70%;
      margin: 0 auto;
      padding: 32px 16px;
      .payment-box{
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        .cSGTly {
          display: flex;
          font-size: 18px;
          font-weight: 600;
          -webkit-box-pack: justify;
          justify-content: space-between;
          span {
            vertical-align: baseline;
            margin: 0px;
            padding: 0px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
           font: inherit;
          }
          .jYZlcv {
            font-size: 24px;
          }
        }
        .jReTKH {
          color: rgb(136, 136, 136);
          margin-top: 24px;
          label {
            vertical-align: baseline;
            margin: 0px;
            padding: 0px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            font: inherit;
          }
        }
      }
    }
    section.payment-methods{
      border-top: 1px solid rgb(245, 245, 245);
      width: 70%;
      margin: 0 auto;
      padding: 32px 16px;
      .comment{
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        .comment1{
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          h3 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }
        .hJNIGG {
          color: rgb(0, 149, 238);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          text-decoration: none;
          .span {
            margin-left: 4px;
        }
        }
      }
    }
    section.Shipping{
      border-top: 1px solid rgb(245, 245, 245);
      width: 70%;
      margin: 0 auto;
      padding: 32px 16px;
      .box{
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        .dVXrhZ {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          h3 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
          }
          a {
            color: rgb(0, 149, 238);
            display: block;
            -webkit-box-align: center;
            align-items: center;
            text-decoration: none;
          }
        }
        .comment{
          vertical-align: baseline;
          margin: 0px;
          padding: 0px;
          border-width: 0px;
          border-style: initial;
          border-color: initial;
          border-image: initial;
          font: inherit;
        }
      }
    }
    section.comment{
      border-top: 1px solid rgb(245, 245, 245);
      width: 70%;
      margin: 0 auto;
      padding: 32px 16px;
      .comment1{
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        p.eYgRch {
          color: rgb(255, 2, 17);
          line-height: 1.5;
          margin-bottom: 24px;
        }
        .comment2{
          -webkit-box-align: center;
          align-items: center;
          background-color: rgb(204, 204, 204);
          color: rgb(255, 255, 255);
          cursor: not-allowed;
          display: flex;
          font-size: 14px;
          font-weight: 600;
          height: 50px;
          -webkit-box-pack: center;
          justify-content: center;
          width: 100%;
          -webkit-appearance: none;
          border-width: initial;
          border-style: none;
          border-color: initial;
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
  }
  #footer  {
    margin-top: auto;
    text-align: center;
    padding: 40px 0px 11px;
    .footer-box{
      vertical-align: baseline;
      margin: 0px;
      padding: 0px;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      font: inherit;
      ul {
        display: inline-block;
        margin: -16px 0px 40px -16px;
        list-style: none;
        li {
          display: inline-block;
          margin: 16px 0px 0px 16px;
          a {
            font-size: 12px;
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      .logo {
        height: 65px;
        margin-bottom: 8px;
        width: 80px;
        vertical-align: middle;
      }
    }
  }
}