.main {
  background: #f8f8f8;
  height: 250vh;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    &__contentRight {
      width: 700px;
      margin: 0 auto;
      .topContent{
        &__itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            ul {
              display: flex;
              position: relative;
              >li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    img {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
                img {
                  object-fit: cover;
                  height: 346px;
                }
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            >span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__detail {
              font-size: 16px;
            }
          }
          .PurchaseBtn {
            display: block;
            margin-top: 16px;
            background: #3CCACE;
            font-size: 14px;
            color: #fff;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            text-decoration: none;
            font-size: 24px;
            line-height: 60px;
            margin-bottom: 70px;
          }
          .itemDetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td {
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
            tbody {
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
              }
            }
          }
          .optionalArea {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              li.likeBtn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                .fa {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
              }
            }
            ul.optional li.optionalBtn {
              font-size: 14px;
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
                .fa {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
              }
            }
          }
        }
        .commentBox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          ul.commentContents {
            list-style: none;
          }
          form{
            margin: 0;
            padding: 0;
            textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
          }
          .noticeMsg {
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
            .commentBtn {
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
      }
       ul {
        list-style: none;
        li {
          float: left;
          a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
        li:last-child {
          float: right;
        }
      }
      .relatedItems{
        margin: 0;
        padding: 0;
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        .productLis{
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}