.main
  .header
    = image_tag ('material/logo/logo.png'), class: "logo"
  .main__box

    %section.main__box__title
      会員情報入力
    %section.Product-information
      .Product-information-box
        .image
          %img.sc-eNPDpu.iqGLTS{:alt => "NC10 シャネル マトラッセ サングラス ココマーク ケース付き", :src => "https://static.mercdn.net/item/detail/orig/photos/m39708631815_1.jpg?1589347597"}/
        .comment
          %p.com
            nc10 シャネル マトラッセ サングラス
          %p.com2
            ¥20000
            （税込) 送料込み
    %section.payment
      .payment-box
        .cSGTly
          %span 支払い金額
          %span.jYZlcv ¥10,599
        .jReTKH
          %label{:for => "point-checkbox-id"}
            %span.kRgxCd
              ポイントを使用（所持ポイント: P0）
    %section.payment-methods
      .comment
        .comment1
          %h3 支払い方法
        %a.hJNIGG{:href => "/jp/transaction/card/m47229055619/"}
          %svg{"aria-hidden" => "true", :fill => "#0095ee", "fill-rule" => "evenodd", :height => "16", :viewbox => "0 0 24 24", :width => "16"}
            %path{:d => "M17.51,11.3H12.7v-5a.7.7,0,0,0-1.4,0v5h-5a.7.7,0,0,0,0,1.4h5v4.81a.7.7,0,0,0,1.4,0V12.7h4.81a.7.7,0,0,0,0-1.4Z"}
            %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
          %span 登録してください
    %section.Shipping
      .box
        .dVXrhZ
          %h3 配送先
          %a.sc-SFOxd.dZdLmH{:href => "/jp/transaction/address/m47229055619/"} 変更する
        .comment
          %p 〒000-0000
          %p 神奈川県〇〇市55-88
          %p 宮本 大介
    %section.comment
      .comment1
        %p.eYgRch 支払方法の入力するを完了してください。
        = link_to "購入する", '/products/:product_id/purchases/buy', class: "comment2" 
  #footer
    .footer-box
      %ul
        %li
          %a{:href => "/jp/privacy/"} プライバシーポリシー
        %li
          %a{:href => "/jp/tos/"} 利用規約
        %li
          %a{:href => "/jp/tokutei/"} 特定商取引に関する表記
    %a
      = image_tag ('material/logo/logo.png'), class: "logo"